/* CSS declarations go here */

body {
}


.editing.content_section {
	border: 3px solid green;
}


.editing.content_column {
	border: 3px solid blue;
}

.editing.content_block {
	border: 3px solid red;
}

.drag_handle {
	cursor: move;
}

.button_icon {
	cursor: pointer;
}

.center-div {
	text-align: center;
}

.section_container {
	min-height: 80px;
}

.column_container {
	min-height: 60px;
}

.content_container {
	min-height: 50px;
}
