/* CSS declarations go here */

body {
	background: orange;
}


.editing.content_section {
	background: green;
}


.editing.content_column {
	background: blue;
}

.editing.content_block {
	background: red;
}

.drag_handle {
	cursor: move;
}

.button_icon {
	cursor: pointer;
}

.center-div {
	text-align: center;
}

.section_container {
	min-height: 200px;
}

.column_container {
	min-height: 200px;
}

.content_container {
	min-height: 200px;
}